{#
/**
 * Available variables:
 * - card_base_class - base classname of the wrapper
 * - card_modifiers - array of modifiers to add to the base classname of the wrapper
 * - card_blockname - blockname prepended to the base classname of the wrapper(s) and each component
 *
 * - card_img_src - the actual image file location
 * - card_img_alt - (optional) the alt text for screen readers and when the image cannot load
 * - card_img_url - Url the image should link to. Defaults to card_link_url
 * - card_image_output_image_tag: whether to print the picture element or not
 *
 * - card_copy_base_class - base classname of the copy wrapper - defaults to 'card__copy'
 * - card_copy_modifiers - array of modifiers to add to the base classname of the copy wrapper
 * - card_copy_blockname - blockname prepended to the base classname of the copy wrapper
 *
 * - card_title - the content of the title component
 * - card_title_link - (optional) the url the title should link to. Defaults to card_link_url.
 * - card_title_base_class - base classname of the title component. Defaults to "title"
 * - card_title_blockname - blockname to add to the base classname of the title - defaults to card_base_class
 * - card_title_modifiers - array of modifiers to add to the base classname of the title
 * - card_title_link_base_class - base class to add to the title link - defaults to 'title-link'
 *
 * - card_subtitle - the content of the subtitle component
 * - card_subtitle_link - (optional) the url the subtitle should link to
 * - card_subtitle_base_class - base classname of the subtitle component. Defaults to "subtitle"
 * - card_subtitle_modifiers - array of modifiers to add to the base classname of the subtitle
 *
 * - card_body - the content of the body component
 * - card_body_base_class - base classname of the body component. Defaults to "body"
 * - card_body_modifiers - array of modifiers to add to the base classname of the body
 *
 * - card_link_text - the content of the link component
 * - card_link_url - the url the link should link to
 * - card_link_base_class - base classname of the link component. Defaults to "link"
 * - card_link_blockname - override link blockname. Defaults to card_base_class
 * - card_link_attributes - array of attribute,value pairs for the link attribute
 * - card_link_modifiers - array of modifiers to add to the base classname of the link
 *
 * - card_button_content - the content of the button component
 * - card_button_url - the url the button should link to
 * - card_button_base_class - base classname of the button component. Defaults to "button"
 * - card_button_attributes - array of attribute,value pairs for the button attribute
 * - card_button_modifiers - array of modifiers to add to the base classname of the button
 */
#}
{% set card_base_class = 'card-wvu-guide' %}
<div {{ bem(card_base_class, (card_modifiers), card_blockname) }}>
  {% block card_topbar %}
    {% if card_external_link %}
      <div class="card-wvu-guide__external_link">
        {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_base_class: "icon",
            icon_blockname: "external-link",
            icon_name: "wvu_external_link_alt",
        } %}
      </div>
    {% endif %}
  {% endblock %}
  <div {{ bem(card_copy_base_class|default('card-wvu-guide__copy'), (card_copy_modifiers), card_copy_blockname) }}>
    <div class="card-wvu-guide__title_serial">
    {{ title_prefix }}
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 2,
      "heading": card_title,
      "heading_url": card_title_link|default(card_link_url),
      "heading_blockname": card_title_blockname|default(card_base_class),
      "heading_modifiers": card_title_modifiers,
      "heading_link_base_class": card_title_link_base_class|default('title-link'),
      "heading_link_blockname": card_base_class,
      "heading_base_class": card_title_base_class|default('title'),
    } %}
    {{ title_suffix }}

    {{ title_prefix }}
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 2,
        "heading": card_serial_number,
        "heading_base_class": card_title_base_class|default('serial'),
    } %}
    {{ title_suffix }}

    </div>
  {% if card_body %}
    <div class="card-wvu-guide__body">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        "paragraph_content": card_body,
        "paragraph_blockname": card_body_base_class|default(card_base_class),
        "paragraph_modifiers": card_body_modifiers,
        "paragraph_base_class": card_body_base_class|default('body'),
      } %}
    </div>
  {% endif %}
  {% if card_extra_content %}
    <div class="collapse" id="collapse-{{ card_serial_number }}" aria-expanded="false" role="presentation" style="">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
          "paragraph_content": card_body_extra,
          "paragraph_blockname": card_body_base_class|default(card_base_class),
          "paragraph_modifiers": card_body_modifiers,
          "paragraph_base_class": card_body_base_class|default('body-extra'),
      } %}
    </div>
    <div class="card-wvu-guide__button-wrapper">
      <h2 class="card-wvu-guide__button" data-toggle="collapse" data-target="#collapse-{{ card_serial_number }}" aria-expanded="false" aria-controls="collapse-{{ card_serial_number }}">
          {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_base_class: "icon",
              icon_blockname: "read-more",
              icon_name: "wvu_read_more",
          } %}
        Read more
      </h2>
    </div>
  {% else %}
    <div class="card-wvu-guide__button-wrapper">
      {% include "@atoms/06-buttons/01-button.twig" with {
          "button_content": card_button_content,
          "button_url": card_button_url,
          "button_base_class": card_button_base_class|default('button'),
          "button_attributes": card_button_attributes,
          "button_modifiers": card_button_modifiers,
          "button_blockname": card_blockname|default(card_base_class),
      } %}
    </div>
  {% endif %}
  </div>
</div><!-- copy -->

{{ attach_library('wvuorientation/expand') }}
